body{
    direction: rtl;
}

.days{
    display: flex;
}

.day{
    border: 1px solid black;
    flex-basis: 250px;
    background-color: #D5D5D5;
    display: flex;
    flex-direction: column;
}

h4, p{
    text-align: center;
}

.active-div{
    background-color: white;
    border-bottom: none;
}


