body {
  direction: rtl;
}

.days {
  display: flex;
}

.day {
  border: 1px solid black;
  flex-basis: 250px;
  background-color: #d5d5d5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  text-align: center;
}

.active-div {
  background-color: white;
  border-bottom: none;
}

p {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d9d9d9;
  text-align: center;
  vertical-align: middle;
}

.active-div h4 {
  position: absolute;
  top: 50px;
}

.active-div p {
  position: absolute;
  top: 100px;
}

.container {
  display: flex;
  height: 82vh;
}

footer {
  background-color: #d9d9d9;
  align-self: flex-end;
  width: 100%;
  height: 100px;
}

input[type="text"] {
  width: 60%;
  margin-right: 40px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

input[type="time"] {
  direction: ltr;
  width: 10%;
  margin-right: 20px;
  margin-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-top: 35px;
}

button {
  width: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #19c97f;
}

#phoneError {
  color: red;
  display: none;
}

.login {
  background-color: #d9d9d9;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  position: absolute;
  top: 250px;
  left: 550px;
}

#login-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#login-btn {
  width: 80px;
}

input[type="tel"] {
  width: 60%;
  height: 20px;
  border-radius: 5px;
  margin-right: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
}
